

.dialog-box {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  background: blue;
  text-align: center;
}
.dialog-footer {
  display: -webkit-flex;
  display: flex;
}

